
	 body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8fafc;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
	.container{
		background-color:white;
		border:2px solid #000;
	    border-radius:8px;
		padding:40px 60px;
		text-align:center;
		max-width:600px;
		width:80%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
#verification_heading{
	font-size:20px;
	font-weight:600;
	margin-bottom:25px;
}
#verification_subtext{
	font-size:15px;
	color:#444;
	margin-bottom:25px;
}
  .code-container {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 25px;
    }
 .code{
	 width:60px;
	 height:70px;
	 border-radius:6px;
      text-align: center;
	 font-size:32px;
	 font-weight:bold;
	 color:#555;
	 border:2px solid #ccc;
	 outline:none;
	 transition:all 0.2s ease;
 }
 .code:focus {
      border-color: #000;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
 .note {
      background-color: #f1f1f1;
      color: #555;
      padding: 12px 20px;
      border-radius: 6px;
      display: inline-block;
      font-size: 14px;
    }